
body { 
	margin:0;
	padding:0;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:0%;
	height: 0%;
	visibility: hidden;
}

#myLoadingContainer {
	position: absolute;
	width: 500px;
	height: 600px;
	background: rgba(255,255,255,1);
	border: 1px solid black;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	visibility: visible;
	z-index: 100;
	margin-bottom: 50px;
}

#myLoadingContainer p {
	font-size: 35px;
}

#myContainer {
	position: absolute;
	width: 500px;
	height: 600px;
	background: transparent;
	border: 1px solid black;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	overflow-y: scroll;
	z-index: 99;
	opacity: .5;
	margin-bottom: 50px;
}

#myContainer h1 {
	color: black;
}

#myContainer h3 {
	color: black;
}

#myContainer a {
	/*
	left: 0;
	right: 0;
	margin: 0 auto;
	*/
	text-decoration: none;
	color: #2471A3;
	margin-bottom: 10px;
	-webkit-transition: .15s color;
	-moz-transition: .15s color;
	-o-transition: .15s color;
	transition: .15s color;
}

#myContainer .noLink {
	color: black;
}

#myContainer .noLink:hover {
	color: black;
}

#myContainer a:hover {
	color: #154360;
}

#myContainer b {
	color: black;
}

#myContainer hr{
	margin-top: 20px;
}

#myContainer p {

}

#loadText {
	visibility: hidden;
}

#myGeocoder {
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#myAttribution {
	position: absolute;
	top: 10px;
	right: 10px;
}

#myAttribution a {
	text-decoration: none;
	color: #2471A3;
}

#myAttribution a:hover {
	color: #154360;
}


#myProgress {
	width: 100%;
	background-color: #ddd;
	visibility: hidden;
}

#myBar {
	width: 0%;
	height: 30px;
	background-color: #2471A3;
  	text-align: center;
 	line-height: 30px;
 	color: white;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2471A3;
  margin-top: 50px;
  width: 120px;
  height: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






